.sc-price .section_pricing.style-2 .option2-content .slide-item:hover span.row-edit.number,
.section_download.style-3 .download-number,
header .cosmos-header .menu-head-page > ul > .menu__item > .menu__link:hover,
.sc-process-bar .section_process_bar.style-4 .processbar-content,
.sc-contac-form i.fa,
.section_contact .form input[type=submit]:hover,
.sc-google-map .map_3 .content .location:hover,
.sc-google-map .map_3 .content .location:hover .content-title,
.map_3 .content-title,
.section_process_bar.style-4 .processbar-content,
footer .navbar-nav > li.active > a,
footer .navbar-nav > li > a:hover,
footer .navbar-nav > li > a:focus,
.pagination-comment .pagination .page-numbers.current,
.entry-comment .comment-list .btn-crystal,
.entry-comment .comment-list .comment-right .pull-left .author a:hover,
.blog-author .author,
.categories-meta .list-inline li a,
.post-navigation .nav-post a:hover,
.social-widget .social-icon:hover,
.tags-widget .tag:hover,
.categories-widget .widget-list .cat-item a:hover,
.single-recent-post-widget .post-info .title-post:hover,
.entry-meta .edit-link a:hover,
.entry-meta .comments-link a:hover,
.entry-meta .edit-link i.fa,
.entry-meta .comments-link i.fa,
#page-sidebar .widget_recent_comments ul li a:hover,
#page-sidebar .widget_recent_entries ul li a:hover,
#page-sidebar .widget_categories ul li a:hover,
#page-sidebar .widget_nav_menu ul li a:hover,
#page-sidebar .widget_archive ul li a:hover,
#page-sidebar .widget_links ul li a:hover,
#page-sidebar .widget_pages ul li a:hover,
#page-sidebar .widget_meta ul li a:hover,
#page-sidebar .widget_rss ul li a:hover,
.footer-main .widget_recent_comments a:hover,
.footer-main .widget_recent_comments ul li a:hover,
.footer-main .widget_recent_entries ul li a:hover,
.footer-main .widget_categories ul li a:hover,
.footer-main .widget_nav_menu ul li a:hover,
.footer-main .widget_archive ul li a:hover,
.footer-main .widget_links ul li a:hover,
.footer-main .widget_pages ul li a:hover,
.footer-main .widget_meta ul li a:hover,
.footer-main .widget_rss ul li a:hover,
.footer-main .widget_rss .title-widget .rsswidget,
.blog-detail .section_blog_detail.style-2 .content-title a:hover,
.social-widget.style-4 .social-icon:hover,
.social-widget.style-3 .social-icon:hover,
.social-widget.style-2 .social-icon:hover,
.page-title-banner .page-link li a:hover,
.page-title-banner .page-link li a.active,
.page-title-banner .title-page,
a:hover,
.cosmos-header .menu-head-page .menu__item.active > .menu__link,
.cosmos-header .logo-company:hover span.cosmos-name,
.section_page404.style-1 .error-404,
.section_page404.style-1 .not-found,
.section_portfolio.style-1 .tabs-menu-item:hover,
.section_feature.style-4 .feature-item2:hover .feature-title2, .section_feature.style-5 .feature-item2:hover .feature-title2,
.section_feature.style-1 .feature-item1:hover .feature-title1, .section_feature.style-3 .feature-item1:hover .feature-title1,
.section_pricing.style-2 .option2-content .slide-item:hover .rate,
.section_pricing.style-1 .template-header-style, .section_pricing.style-2 .template-header-style, .section_pricing.style-3 .template-header-style, .section_pricing.style-4 .template-header-style, .section_pricing.style-5 .template-header-style,
.section_portfolio.style-1 .tabs-menu-item.active,
.download-app.style-5 .download-text,
.section_feature.style-5 .list-feature5 .feature-item2:hover .feature-title2,
.section_feature.style-1 .box-title span, .section_feature.style-2 .box-title span, .section_feature.style-3 .box-title span, .section_feature.style-4 .box-title span, .section_feature.style-5 .box-title span,
.section_footer.style-1 .title p:nth-child(2),
.section_faq.style-1 .faq-item.active .faq-question,
.section_demo.style-1 .demo-title2, .section_demo.style-2 .demo-title2, .section_demo.style-3 .demo-title2,
.template-header-style,
.section_subscribe.style-1 .subscribe-header .subscribe-title-1, .section_subscribe.style-2 .subscribe-header .subscribe-title-1, .section_subscribe.style-3 .subscribe-header .subscribe-title-1, .section_subscribe.style-4 .subscribe-header .subscribe-title-1, .section_subscribe.style-5 .subscribe-header .subscribe-title-1,
.section_screenshot.style-1 .screenshot-header-style, .section_screenshot.style-2 .screenshot-header-style, .section_screenshot.style-3 .screenshot-header-style,
.section_screenshot.style-3 .screenshot-counter-description-text1,
.section_process_bar.style-1 .processbar-header-style, .section_process_bar.style-2 .processbar-header-style, .section_process_bar.style-3 .processbar-header-style, .section_process_bar.style-4 .processbar-header-style, .section_process_bar.style-5 .processbar-header-style,
.perfect-landing p:first-child,
.section_blog.style-1 p.topic, .section_blog.style-2 p.topic, .section_blog.style-3 p.topic, .section_blog.style-4 p.topic, .section_blog.style-5 p.topic, .section_blog_detail.style-1 p.topic, .section_blog_detail.style-2 p.topic,
.section_testimonial.style-1 .template-header-style, .section_testimonial.style-2 .template-header-style, .section_testimonial.style-3 .template-header-style,
.section_testimonial.style-1 .testimonial-item-position,
.section_testimonial.style-3 .testimonial-item-position,
.team-wrap .slide .slide-text span:nth-child(2),
.section_team.style-1 .template-header-style, .section_team.style-2 .template-header-style, .section_team.style-3 .template-header-style,
.section_blog.style-1 div#functions a:hover, .section_blog.style-2 div#functions a:hover, .section_blog.style-3 div#functions a:hover, .section_blog.style-4 div#functions a:hover, .section_blog.style-5 div#functions a:hover, .section_blog_detail.style-1 div#functions a:hover, .section_blog_detail.style-2 div#functions a:hover,
.section_blog_detail.style-1 .blog-detai-comment .blog-detail-comment-content .blog-detail-comment-body .blog-detail-comment-reply, .section_blog_detail.style-2 .blog-detai-comment .blog-detail-comment-content .blog-detail-comment-body .blog-detail-comment-reply,
.section_blog_detail.style-1 blockquote strong, .section_blog_detail.style-2 blockquote strong,
.section_blog.style-1 .content-topic, .section_blog.style-2 .content-topic, .section_blog.style-3 .content-topic, .section_blog.style-4 .content-topic, .section_blog.style-5 .content-topic, .section_blog_detail.style-1 .content-topic, .section_blog_detail.style-2 .content-topic {
  color: #614e9f; }

.section_demo.style-2 .col-right,
.sc-icon-box .section_feature.style-2 .feature-item2:hover .icon-item,
.cosmos-header #nav-toggle,
.section_contact.style-1 .button--border-orange, .section-contact2 .button--border-orange, .section_contact.style-3 .button--border-orange, .section_contact.style-4 .button--border-orange, .section-contact5 .button--border-orange, .section_contact.style-6 .button--border-orange,
.sc-icon-box .section_feature.style-4 .list-feature4 .feature-item2:hover .icon-item,
.blok-slider-feature5.owl-theme .owl-controls .owl-page.active span,
.section_feature.style-2 .feature-item2 .feature-title2 .feature-icon2:before, .section_feature.style-4 .feature-item2 .feature-title2 .feature-icon2:before, .section_feature.style-5 .feature-item2 .feature-title2 .feature-icon2:before,
.commont-menu.navi-type-5 .menu-des > .menu__item > .menu__link:after,
.commont-menu.navi-type-3 .menu-des > li.dot_slide span,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active:before,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active .menu__link:before,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active .menu__link:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover > a:before,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover > a:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover:before,
.entry-comment .comment-respond #submit:hover,
.comment-respond .btn-submit:hover,
.wrapper-button .link_posts:hover,
.tags .list-tag .name:hover,
.widget_calendar .ui-datepicker .ui-state-default.ui-state-active,
.widget_newsletterwidget .tnp-widget input.tnp-submit,
.widget_tag_cloud .tagcloud a:hover,
.thumb:after,
.wrapper-content form.post-password-form p > input,
.wrapper-content .page-links > span:not([class="page-links-title"]),
.wrapper-content .page-links a:hover,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active:before,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active .menu__link:before,
.commont-menu.navi-type-1 .menu-head-page .menu__item.active .menu__link:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover > a:before,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover > a:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover:after,
.commont-menu.navi-type-1 .menu-head-page .menu__item:hover:before,
.timeline-date,
.section_faq.style-1 p.title,
.section_pricing.style-1 .option1-content .slide-item:hover .rate,
.section_feature.style-1 .blok-slider-feature5.owl-theme .owl-controls .owl-page.active span, .section_feature.style-2 .blok-slider-feature5.owl-theme .owl-controls .owl-page.active span, .section_feature.style-3 .blok-slider-feature5.owl-theme .owl-controls .owl-page.active span, .section_feature.style-4 .blok-slider-feature5.owl-theme .owl-controls .owl-page.active span, .section_feature.style-5 .blok-slider-feature5.owl-theme .owl-controls .owl-page.active span,
.section_faq.style-1 .faq-item.active .faq-question:after,
.section_demo.style-2 .col-right.bg-img,
.section_feature.style-5 .list-feature5 .feature-item2:hover .ico, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico1, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico2, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico3, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico4,
.section_subscribe.style-1 .button-type-2:hover, .section_subscribe.style-2 .button-type-2:hover, .section_subscribe.style-3 .button-type-2:hover, .section_subscribe.style-4 .button-type-2:hover, .section_subscribe.style-5 .button-type-2:hover,
.section_pricing.style-3 .option3-content .option3 .slide-item:hover .name,
.section_pricing.style-3 .option3-content .option3 .slide-item:hover .button,
.section_portfolio.style-3 .tabs-content-item,
.button-style.background-yellow,
.section_pricing.style-1 .slide-item:hover .button, .section_pricing.style-2 .slide-item:hover .button, .section_pricing.style-3 .slide-item:hover .button, .section_pricing.style-4 .slide-item:hover .button, .section_pricing.style-5 .slide-item:hover .button,
.section_pricing.style-1 .choice-text, .section_pricing.style-2 .choice-text, .section_pricing.style-3 .choice-text, .section_pricing.style-4 .choice-text, .section_pricing.style-5 .choice-text,
.section_portfolio.style-3 .tabs-menu-item:hover,
.section_portfolio.style-3 .tabs-menu-item.active,
.section_feature.style-4 .list-feature4 .feature-item2:hover .ico, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico1, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico2, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico3, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico4,
.section_team.style-1 .owl-theme .owl-controls .owl-page.active span,
.team-wrap .slide .slide-text .team-link2:after,
.section_contact.style-3 .col-left.bg-img,
.section_team.style-2 .owl-theme .owl-controls .owl-page.active span,
.section_blog.style-1 a.link_posts:hover:hover, .section_blog.style-2 a.link_posts:hover:hover, .section_blog.style-3 a.link_posts:hover:hover, .section_blog.style-4 a.link_posts:hover:hover, .section_blog.style-5 a.link_posts:hover:hover, .section_blog_detail.style-1 a.link_posts:hover:hover, .section_blog_detail.style-2 a.link_posts:hover:hover,
.section_subscribe.style-1 .button-type-1, .section_subscribe.style-1 .button-type-2, .section_subscribe.style-2 .button-type-1, .section_subscribe.style-2 .button-type-2, .section_subscribe.style-3 .button-type-1, .section_subscribe.style-3 .button-type-2, .section_subscribe.style-4 .button-type-1, .section_subscribe.style-4 .button-type-2, .section_subscribe.style-5 .button-type-1, .section_subscribe.style-5 .button-type-2,
.section_blog.style-1 #tags_cloud button.tags:hover, .section_blog.style-2 #tags_cloud button.tags:hover, .section_blog.style-3 #tags_cloud button.tags:hover, .section_blog.style-4 #tags_cloud button.tags:hover, .section_blog.style-5 #tags_cloud button.tags:hover, .section_blog_detail.style-1 #tags_cloud button.tags:hover, .section_blog_detail.style-2 #tags_cloud button.tags:hover,
.section_blog_detail.style-1 .blog-detail-leave-comment .blog-detail-leave-comment-button:hover, .section_blog_detail.style-2 .blog-detail-leave-comment .blog-detail-leave-comment-button:hover,
.section_blog.style-1 .image_posts .date, .section_blog.style-2 .image_posts .date, .section_blog.style-3 .image_posts .date, .section_blog.style-4 .image_posts .date, .section_blog.style-5 .image_posts .date, .section_blog_detail.style-1 .image_posts .date, .section_blog_detail.style-2 .image_posts .date,
.section_blog.style-1 .blog-email-button, .section_blog.style-2 .blog-email-button, .section_blog.style-3 .blog-email-button, .section_blog.style-4 .blog-email-button, .section_blog.style-5 .blog-email-button, .section_blog_detail.style-1 .blog-email-button, .section_blog_detail.style-2 .blog-email-button {
  background: #614e9f; }

.section_testimonial.style-1 .owl-controls .owl-pagination .owl-page.active span,
.section_testimonial.style-1 .owl-controls .owl-pagination .owl-page:hover span,
.section_testimonial.style-2 .owl-controls .owl-pagination .owl-page.active span,
.section_testimonial.style-2 .owl-controls .owl-pagination .owl-page:hover span,
.section_testimonial.style-3 .owl-controls .owl-pagination .owl-page.active span,
.section_testimonial.style-3 .owl-controls .owl-pagination .owl-page:hover span,
.section_testimonial.style-3 .owl-controls .owl-pagination .owl-page.active span,
.sc-icon-box .section_feature.style-2 .feature-item2:hover .icon-item,
.sc-icon-box .section_feature.style-4 .list-feature4 .feature-item2:hover .icon-item,
.sc-icon-box .section_feature.style-4 .list-feature4 .feature-item2:hover,
.section_feature.style-4 .list-feature4 .feature-item2:hover .icon-item,
.sc-contac-form .contact-form textarea:focus, .sc-contac-form .contact-form select:focus, .sc-contac-form .contact-form input:focus,
.sc-icon-box .section_feature.style-1 .feature-item1:hover .icon-item,
.sc-icon-box .section_feature.style-4 .list-feature4 .feature-item2:hover .icon-item,
.commont-menu.navi-type-4 .menu-des > .menu__item > .menu__link::before,
.commont-menu.navi-type-4 .menu-des > .menu__item > .menu__link::after,
.commont-menu.navi-type-2 .menu-des > .menu__item > .menu__link:before,
.commont-menu.navi-type-2 .menu-des > .menu__item > .menu__link:after,
.commont-menu.navi-type-2 .menu-des > .menu__item.active > .menu__link:before,
.commont-menu.navi-type-2 .menu-des > .menu__item.active > .menu__link:after,
.tags .list-tag .name:hover,
.widget_tag_cloud .tagcloud a:hover,
.social-widget .social-icon:hover,
.tags-widget .tag:hover,
.social-widget.style-3 .social-icon:hover,
.social-widget.style-2 .social-icon:hover,
.section_feature.style-4 .list-feature4 .feature-item2:hover,
.section_portfolio.style-3 .tabs-content-item .item__img,
.section_portfolio.style-3 .tabs-content-item,
.section_feature.style-5 .list-feature5 .feature-item2:hover,
.section_screenshot.style-1 .owl-theme .owl-controls .owl-page.active span, .section_screenshot.style-1 .owl-theme .owl-controls.clickable .owl-page:hover span, .section_screenshot.style-2 .owl-theme .owl-controls .owl-page.active span, .section_screenshot.style-2 .owl-theme .owl-controls.clickable .owl-page:hover span,
.section_portfolio.style-1 .tabs-menu-item:after,
.section_portfolio.style-1 .tabs-menu-item.active:after,
.section_feature.style-5 .list-feature5 .feature-item2:hover .ico, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico1, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico2, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico3, .section_feature.style-5 .list-feature5 .feature-item2:hover .ico4,
.section_feature.style-4 .list-feature4 .feature-item2:hover .ico, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico1, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico2, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico3, .section_feature.style-4 .list-feature4 .feature-item2:hover .ico4,
.section_feature.style-2 .feature-item2:hover .ico, .section_feature.style-2 .feature-item2:hover .ico1, .section_feature.style-2 .feature-item2:hover .ico2, .section_feature.style-2 .feature-item2:hover .ico3, .section_feature.style-2 .feature-item2:hover .ico4, .section_feature.style-4 .feature-item2:hover .ico, .section_feature.style-4 .feature-item2:hover .ico1, .section_feature.style-4 .feature-item2:hover .ico2, .section_feature.style-4 .feature-item2:hover .ico3, .section_feature.style-4 .feature-item2:hover .ico4, .section_feature.style-5 .feature-item2:hover .ico, .section_feature.style-5 .feature-item2:hover .ico1, .section_feature.style-5 .feature-item2:hover .ico2, .section_feature.style-5 .feature-item2:hover .ico3, .section_feature.style-5 .feature-item2:hover .ico4,
.section_feature.style-1 .feature-item1:hover .ico, .section_feature.style-1 .feature-item1:hover .ico1, .section_feature.style-1 .feature-item1:hover .ico2, .section_feature.style-1 .feature-item1:hover .ico3, .section_feature.style-1 .feature-item1:hover .ico4, .section_feature.style-3 .feature-item1:hover .ico, .section_feature.style-3 .feature-item1:hover .ico1, .section_feature.style-3 .feature-item1:hover .ico2, .section_feature.style-3 .feature-item1:hover .ico3, .section_feature.style-3 .feature-item1:hover .ico4,
.section_contact.style-1 .textarea--border-orange, .section-contact2 .textarea--border-orange, .section_contact.style-3 .textarea--border-orange, .section_contact.style-4 .textarea--border-orange, .section-contact5 .textarea--border-orange, .section_contact.style-6 .textarea--border-orange,
.section_contact.style-1 .input--border-orange, .section-contact2 .input--border-orange, .section_contact.style-3 .input--border-orange, .section_contact.style-4 .input--border-orange, .section-contact5 .input--border-orange, .section_contact.style-6 .input--border-orange,
.section_blog.style-1 #tags_cloud button.tags:hover, .section_blog.style-2 #tags_cloud button.tags:hover, .section_blog.style-3 #tags_cloud button.tags:hover, .section_blog.style-4 #tags_cloud button.tags:hover, .section_blog.style-5 #tags_cloud button.tags:hover, .section_blog_detail.style-1 #tags_cloud button.tags:hover, .section_blog_detail.style-2 #tags_cloud button.tags:hover {
  border-color: #614e9f; }

.sc-google-map .map_3 .content .location.active {
  background: rgba(97, 78, 159, 0.6); }

.section_testimonial.style-3 .testimonial-item {
  background: rgba(97, 78, 159, 0.1); }

@media (max-width: 1325px) {
  .cosmos-header .menu__item.active > .menu__link {
    color: #614e9f; } }
.section_portfolio.style-1 .tabs-content-item .item__img:after,
.section_portfolio.style-3 .tabs-content-item .item__img:after {
  background-color: rgba(97, 78, 159, 0.75); }

.team-wrap .slide .slide-text .team-link2:before {
  background-color: rgba(97, 78, 159, 0.5); }

.cosmos-header .bg-tam.is_scroll,
.cosmos-header .bg-tam.is_open_menu_mb {
  background-color: rgba(255, 255, 255, 0.95); }

ul.menu-des .parent-sub-menu a {
  color: #000; }

.is_scroll .menu-head-page ul.menu-des a {
  color: #000; }

.cosmos-header .parent-sub-menu > li {
  background-color: rgba(255, 255, 255, 0.9); }

.cosmos-header .parent-sub-menu > li:hover {
  background-color: white; }

.parent-sub-menu > li a {
  color: #303030; }

.cosmos-header .is_scroll .menu-mb.not-fixed li {
  background-color: rgba(230, 230, 230, 0.3); }

.is_scroll .menu-mb a {
  color: #000; }

/*# sourceMappingURL=violet.css.map */
